*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: hsl(31, 100%, 16%);
}

a:hover{
    color: hsla(30, 100%, 16%, 0.48);
}

.container{
    width: 65%;
    height: 90px;
    margin:auto;
    margin-top: 300px;
    padding-right:8px;
    /* border: 1px black solid; */
}

.brand{
    height:40px;
    margin-left: 8px;
    font-weight: 600;
    font-size: 30px;
    color: hsl(33, 100%, 50%);
    /* border: solid 1px black; */
}

.navigation{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* border: solid 1px black; */
}

.nav-tabs{
    display: flex;
    list-style: none;

    font-size: 15px;

}

.nav-item{
    margin: 0 8px;
    display: inline-block;
    cursor: pointer;
    font-weight: 300;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: overflow 0.4s ease;
}

.nav-item:hover{
    overflow: visible;
    /* background: hsl(33, 100%, 55%);
    color:hsl(31, 100%, 96%); */
}

/* -------------------------------UNDERLINE ON HOVER--------------------------- */
/* .nav-item::before {
    content:"";
    position: absolute;
    background: hsl(33, 100%, 50%);
    height: 2px;
    width: 0;
    top: 17px;
    transition: width 0.2s linear;
}

.nav-item:hover::before{
    width: 100%;
} */
/* -------------------------------------------------------------------------------- */

.sub-item-list{
    position:absolute;
    list-style: none;
    background: hsla(33, 100%, 54%, 0.59);
    border-radius: 5px;
}

.sub-item{
    margin: 10px 0;
    padding: 0 5px;
}


.book-btn{
    border: none;
    background-color: hsl(33, 100%, 50%);
    color:hsl(31, 100%, 96%);
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.book-btn:hover{
    background: hsl(33, 100%, 55%);
}
